@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

:root {
    --cardColorPrimary-h: 90;
    --cardColorPrimary-s: 20%;
    --cardColorPrimary-l: 80%;
    --monospaceFont: 'Space Mono', 'Courier New', Courier, monospace;
    --serifFont: Georgia, 'Times New Roman', Times, serif;
    --sansSerifFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: var(--sansSerifFont);
}

p {
    font-family: var(--serifFont);
}

code, pre {
    font-family: var(--monospaceFont);
}

* {
    box-sizing: border-box;
}

#app {
    background-color: hsl(var(--cardColorPrimary-h), var(--cardColorPrimary-s), var(--cardColorPrimary-l));
    min-height: 100%;
}